version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: container_db
    restart: always
    environment:
      POSTGRES_USER: fazt
      POSTGRES_PASSWORD: faztcode
      POSTGRES_DB: brewly_db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    command: npm start
    depends_on:
      - postgres

volumes:
  pgdata:
